<section>
	<div class="container">

			<h2>Book</h2>
			<div class="library">
				<h2><%= @book.title %></h2>
				<h2><%= @book.author %></h2>
			</div>
			<div class="link">
				<p><a href="/edit-book/<%= @book.id %>">Edit Book</a></p>
			</div>
			<div class="link">
				<form action="/delete-book/<%= @book.id %>" method="POST">
					<input type="submit" value="Delete Book">
				</form>
			</div>
			<div class="link">
				<p><a href="/">Add more</a></p>
			</div>
			<div class="link">
				<p><a href="/books">Show all books</a></p>
			</div>

	</div>
</section>

				