<form action="/add-book" method="POST">		
	<div class="inputbox">
		<input type="text" name="title">
		<label for="title">TITLE</label>
	</div>
	<div class="inputbox">
		<input type="text" name="author">
		<label for="author">AUTHOR</label>
	</div>
	<button>Submit</button>
</form>

<a href="/books">Show all books</a>