<form action="/update-profile-pic" method="POST" enctype="multipart/form-data">
	<div class="wrapper">
		<h4><label for="main_photo">Upload a photo here:</label><br><br>
		<input class="custom-button" type="file" name="photo" value="Upload a Picture!"><br></h4>
		<button>Submit</button>
	</div>
</form>
