*{
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
}

section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;

	background: black;
/*	background: url('background1.jpg')no-repeat;
	background-position: center ;
	background-size: cover;*/

}

.container {
	margin: 10px;
	padding: 20px 20px;
	background: transparent;
	border: 2px solid #ccc;
	border-radius: 25px;
	backdrop-filter: blur(20px);
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	font-size: 2em;
	color: white;
	text-align: center;
}

h3 {
	font-size: 1em;
	color: white;
	text-align: center;
}

.inputbox {
	position: relative;
	margin: 20px 0;
	width: 100%;
	border-bottom: 2px solid white;
}

.inputbox label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	color: white;
	font-size: 1em;
	pointer-events: none;
	transition: .5s;
}

input:focus ~ label,
input:valid ~ label {
	top: -1px;
}
.inputbox input {
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	padding: 0 35px 0 5px;
	color: white;
}

.link {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
	text-decoration: none;
}

.link p a{
	color: white;
	text-decoration-line: ;
}


button {
	width: 100%;
	height: 40px;
	border-radius: 40px;
	border: none;
	outline: none;
	font-size: 1em;
	font-weight: 600;
	padding: 10px;
}

.library {
	margin: 20px 0;
	color: white
}

.description {
	margin: 10px 0 ;
	padding: 10px;
	width: 600px;
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 15px;
}
